@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

:root {
  --black: #01161eff;
  --dk-green: #124559ff;
  --blue: #598392ff;
  --gray: #aec3b0ff;
  --beige: #eff6e0ff;
}

a,
a:visited,
a:active {
  color: var(--beige);
  text-decoration: none;
  font-style: oblique;
}

body {
  font-family: "Gugi", sans-serif;
  color: var(--dk-green);
  background-color: var(--beige);
  margin: 0;
}

header {
  height: 8vh;
  color: var(--beige);
  background-color: var(--dk-green);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: var(--blue) 8px solid;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content {
  width: 30vw;
  height: 75vh;
  padding: 10px;
  background-color: var(--blue);
  font-size: 20px;
  color: var(--beige);
  border: 5px solid var(--dk-green);
  border-radius: 3%;
}

div h1 {
  font-size: larger;
}
